<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./home.css">
    </head>
    <body>
        <h1>
            Home View
        </h1>
        <ul>
            <li>SNo : {{SNo}}</li>
            <li>State Name : {{StateName}}</li>
            <li>Active Today : {{ActiveToday}} </li>
            <li>Total Deaths : {{TotalDeaths}} </li>
            <li>Total Diacharged : {{ActiveToday}} </li>
        </ul>
        <script src="./home.js" async defer></script>
    </body>
</html>